@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}
.main {
  width: 100%;
  height: 200vh;
  background-color: aquamarine;
}

.header {
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #e7f5ff; */
  background-color: black;
  /* color: white; */
}

.header .logo {
  height: 8rem;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  /* color: #212529; */
  color: white;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #f7f069;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* ===========================================
Hero and Service Section Start
======================================= */
.section-hero {
  max-width: 100%;
  background-color: #a5d8ff;
  height: 100vh;
}
.carousel-item{
  position: relative;
  max-width: 100%;
  height: 100vh;
}
.w-100 {
  height: 100vh;
  width: 100vw !important;
  object-fit: cover;
  /* object-position: center; */
}
/* .iframe{
  display: block;
  width: 50vw;
  height: 40vw;
  /* position: absolute; */
  /* top: 10%;/ 
} */
.content{
  width: 100%;
  height: 100vh;
  background-image: url(/assests/images/katak.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content h1{
  font-size: 3rem;
  /* z-index: 99; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 10vw;
  color: black;
  text-align: center;
}

.content .explore{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 20px;
  transition: ease 0.5s;
}
.content .explore:hover{
  color: green;
  background-color: white;
}
.content1{
  width: 100%;
  height: 100vh;
  background-color: green;
  display: flex;
  
}
.left1{
  width: 50%;
  height: 100%;
  background-color: #a5d8ff;
}
.right1{
  width: 50%;
  height: 100%;
  background-color: pink;
  position: relative;
}
.right1 h1{
  font-size: 3rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right1 p{
  font-size: 1.5rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content1 .contactUs{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  top: 44%;
  left: 35%;
  transform: translate(-50%, 50%);
  border-radius: 20px;
}
 


/* ===========================================
Responsive Codes.. 
======================================= */

/* 980px  */
@media (max-width: 62em) {
  .w-100 {
    height: 100vh !important;
    width: 100vw !important;
    object-fit: cover;
    object-position: center;
  }
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    /* width: 40%; */
    max-width: 100%;
    height: 100px;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 99;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  .navbar-link {
    color: #000 !important;
  }
  .mobile-navbar-btn{
    background-color: white;
  }
 
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {

    padding: 0 2.4rem;
  }

  .header .logo {
    max-width: 100%;
    height: 100px;
  }
  .w-100 {
    height: 100vh !important;
    width: 100vw !important;
    object-fit: cover;
    object-position: center;
  }
  .mobile-navbar-btn{
    background-color: white;
  }
  .content1{
    flex-direction: column;
  }
  .left1{
    width: 100%;
    height: 30%;
  }
  .right1{
    width: 100%;
    height: 70%;
  }
  .content .explore{
  top: 65%;
}
.right1 h1{
 top: 20%; 
}
.right1 p{
   top: 40%;
 }
.content1 .contactUs{
top: 50%; 
left: 40%;
}
 
}
